<%= erb :html_header  %>

<h1>WELCOME BACK!!!</h1>
<form method="post" action="/interviewer_sign_in_submitted">
  <p>
    Email: <input type="text" value="" />
  </p>
  <p>
    Password: <input type="password" value="" />
  </p>
  <input type="submit" value="Take me back!" />
</form>

<%= erb :html_footer %>