<html>
<head>
  <title>LeanCentipede&trade; Connecting people to people</title>
</head>
<body>
    <form method="post" action="/interviewee_sign_up_submitted">
        <p>
          Email: <input type="text" value="" />
        </p>
        <p>
          Password: <input type="password" value="" />
        </p>
        <p>
          Paypal User Id (optional): <input type="text" value="" />
        </p>
        <p>
          Gender
          male female other (please specify): <input type="text" value="" />
        </p>
        <p>
        Age
        </p>
        <p>
        Income
        </p>

        <p>
        What products or services do you see yourself buying in the next 6 months?
        [free text]
        </p>

        <p>
        What do you consider yourself a specialist/expert in?
        [free text]
        </p>

        <p>
            How would you describe your comfort level in regards to buying/recommending new products and services you love?
            <ul>
                <li>I gotta be the first on my block with the new and shiny</li>
                <li>I wait until I hear a good review from a friend</li>
                <li>I buy once all my friends have it and I know it's a safe purchase.</li>
            </ul>
        </p>

        <p>
        Are you willing to do a voice call if you're approached for more detailed information?
        [yes] [no]
        </p>

        <input type="submit" value="Sign up!" />
    </form>
</body>
</html>