<%= erb :html_header %>
<form method="post" action="/check_validation_interview_order">
<h1>validator Criteria</h1>
 </p>
        <p>
         <label for="name">Survey Name</label>
         <input name="name" type="text" value="" />
        </p>
        <p>
         <label for="gender">Their Gender</label>
         <input name="gender" type="text" value="" />
        </p>
        <p>
         <label for="age">Their Age</label>
         <select name="age">
           <option>18-25</option>
           <option>26-40</option>
           <option>41+</option>
         </select>
        </p>
        <p>
         <label for="income">Their Income</label>
         <select name="income">
           <option><$25,000</option>
           <option>$25,000-$50,000</option>
           <option>$50,000-$75,000</option>
           <option>$75,000-$100,000</option>
           <option>$100,000+</option>
         </select>
        </p>
        <p>
        <label for="products">What products or services should they see themselves buying in the next 6 months?</label>
        <textarea name="products"></textarea>
        </p>

        <p>
        <label for="expertise">What should they consider themselves a specialist/expert in?</label>
        <textarea name="expertise"></textarea>
        </p>

        <p>
         <label for="adoption">What kind of comfort level should your validator have with buying products?
            <br/><input type="radio" name="adoption" value="1"> I gotta be the first on my block with the new and shiny<br/>
            <input type="radio" name="adoption" value="2"> I wait until I hear a good review from a friend<br/>
            <input type="radio" name="adoption" value="3"> I buy once all my friends have it and I know it's a safe purchase.<br/>
        </p>

        <p>
        <label for="voice_call">Do you want the option to voice chat if you need more information?</label>
        <label><input type="radio" name="voice_call" value="yes" checked/> Yes</label>
        <label><input type="radio" name="voice_call" value="no" /> No</label>
        </p>

<h1>Validation Survey</h1>

<textarea name="survey" rows="30" cols="120"></textarea>

<p>
    <input type="submit" value="Create your validation survey!" />
</p>
</form>
</div>
<%= erb :html_footer %>