<%= erb :html_header %>
  <h1>Sign up</h1>
   <form method="post" action="/validator_sign_up_submitted">
        <p>
          <label for="email">Email: </label>
          <input name="email" type="text" value="" />
        </p>
        <p>
          <label for="pass">Password: </label>
          <input name="pass" type="password" value="" />
        </p>
        <p>
          <label for="paypal_id">Paypal User Id (optional): </label>
          <input name="paypal_id" type="text" value="" />
        </p>
         <label for="gender">Gender</label>
         <input name="gender" type="text" value="" />
        </p>
        <p>
         <label for="age">Age</label>
         <select name="age">
           <option>18-25</option>
           <option>26-40</option>
           <option>41+</option>
         </select>
        </p>
        <p>
         <label for="income">Income</label>
         <select name="income">
           <option><$25,000</option>
           <option>$25,000-$50,000</option>
           <option>$50,000-$75,000</option>
           <option>$75,000-$100,000</option>
           <option>$100,000+</option>
         </select>
        </p>
        <p>
        <label for="products">What products or services do you see yourself buying in the next 6 months?</label>
        <textarea name="products"></textarea>
        </p>

        <p>
        <label for="expertise">What do you consider yourself a specialist/expert in?</label>
        <textarea name="expertise"></textarea>
        </p>

        <p>
         <label for="adoption">How would you describe your comfort level in regards to buying/recommending new products and services you love?
            <br/><input type="radio" name="adoption" value="1"> I gotta be the first on my block with the new and shiny<br/>
            <input type="radio" name="adoption" value="2"> I wait until I hear a good review from a friend<br/>
            <input type="radio" name="adoption" value="3"> I buy once all my friends have it and I know it's a safe purchase.<br/>
        </p>

        <p>
        <label for="voice_call">Are you willing to do a voice call if you're approached for more detailed information?</label>
        <label><input type="radio" name="voice_call" value="yes" checked/> Yes</label>
        <label><input type="radio" name="voice_call" value="no" /> No</label>
        </p>

        <input type="submit" value="Sign up!" />
    </form>

  </div>
<%= erb :html_footer %>