<%= erb :html_header  %>
<h1>Thank you for signing up!</h1>
<p>Thank you for joining our community as a Validator!  We will reach out to you as Visionaries request consumers that fit your description.</p>
<p>A few FAQ tips:
 <ul>
 <li>For every $10 that Visionaries commit, you will receive $7.  We will cover all technology costs and paypal fees!</li>
 <li>Please help us by responding to survey requests within 24 hours.  Our Visionaries are usually looking for quick feedback and are eager to hear what you have to say!</li>
 <li>If you have any questions, comments, or concerns, please reach out to us at <a href="mailto:support@leancentipede.com">support@leancentipede.com</a></li>
 </ul>
</p>
<p><a href="validator_home">Continue to your account</a></p>
<%= erb :html_footer  %>
