<%= erb :html_header  %>

<h1>Welcome Back</h1>
<form method="post" action="/validator_sign_in_submitted">
  <p>
   <label for="email">Email:</label>
   <input name="email" type="text" value="" />
  </p>
  <p>
    <label for="password">Password: </label><input name="password" type="password" value="" />
  </p>
  <p>
  <input type="submit" value="Take me back!" /></p>
</form>

<%= erb :html_footer %>