<h2>Visionaries</h2>
<ul>
<% for requested_profile in $requested_profiles %>
    <li><%= requested_profile.to_json %></li>
<% end %>
</ul>

<h2>Validators</h2>
<ul>
<% for validator in $Interviewees %>
    <li><%= validator.to_json %></li>
<% end %>
</ul>