<%= erb :html_header %>
    <form method="post" action="/visionary_sign_up_submitted">
        <p>
          <label for="email">Email: </label><input name="email" type="text" value="" />
        </p>
        <p>
          <label for="password">Password: </label><input name="password" type="password" value="" />
        </p>
        <p><input type="submit" value="Validate Your Plan!" /></p>
    </form>
<%= erb :html_footer %>