<%= erb :html_header  %>
<h1>Thank you for signing up!</h1>
<p>We're happy to have you, Visionary!  Our goal is to provide you the highest quality feedback from the best customers in a timely fashion!</p>
<p>If you have any questions, please reach out to us at <a href="mailto:support@leancentipede.com">support@leancentipede.com</a>.</p><br>
<%= erb :search_for_validation %>
<%= erb :html_footer  %>