<%= erb :html_header  %>

<h1>WELCOME BACK!!!</h1>
<form method="post" action="/visionary_sign_in_submitted">
  <p>
    Email: <input name="email" type="text" value="" /><span>
  </p>
  <p>
    Password: <input name="password" type="password" value="" />
  </p>
  <input type="submit" value="Take me back!" />
</form>

<%= erb :html_footer %>