<%= erb :html_header %>
    <p><%= @message.nil? ? "" : @message %></p>
    <form method="post" action="/visionary_sign_up_submitted">
        <p>
          Email: <input name="email" type="text" value="" />
        </p>
        <p>
          Password: <input name="password" type="password" value="" />
        </p>
        <input type="submit" value="Validate Your Plan!" />
    </form>
<%= erb :html_footer %>