<%= erb :html_header  %>
<h1>Thank you for signing up!</h1>
<p>Thank you for your request!  We will provide basic demographic information from our bank of Validators for you to approve within 24 hours.</p>
<p>If you have any questions, please reach out to us at <a href="mailto:support@leancentipede.com">support@leancentipede.com</a>.</p><br>
<%= erb :search_for_validation %>
<%= erb :html_footer  %>