<%= erb :html_header %>
<a href="/interviewee_sign_up">Interviewees</a>(<a href="/returning_interviewee">Returning?</a> ) | <a href="/interviewer_sign_up">Interviewers</a>(<a href="#">Returning?</a>)
<%= erb :html_footer %>