<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="description" content="LeanCentipede" />
<meta name="keywords" content="" />
<meta name="author" content="LeanCentipede" />
<title>Lean Centipede</title>
<!--Attached CSS files here-->
<link href='http://fonts.googleapis.com/css?family=Mate+SC' rel='stylesheet' type='text/css'>
<link rel="stylesheet" media="screen" href="/homepage/css/reset.css"/>
<link rel="stylesheet" media="screen" href="/homepage/css/style.css"/>
<link rel="stylesheet" media="screen" href="/homepage/fancybox/jquery.fancybox-1.3.4.css"/>

<script src="/homepage/js/modernizr-1.5.min.js" type="text/javascript"></script>
<script src="/homepage/js/jquery-1.6.3.min.js" type="text/javascript"></script>
</head>
<body>

<!--header_top_bg starts-->
<div id="header_top_bg">
		<div id="header_top"> <a href="index.html" class='logo'>Lean Centipede</a>
				<ul>
						<li></li>
						<li><a href="#" class="tipsy_hover" title="twitter"><img src="/homepage/images/twitter.png" width="16" height="16" alt="twitter"></a></li>
						<li><a href="#" class="tipsy_hover" title="facebook"><img src="/homepage/images/facebook.png" width="16" height="16" alt="facebook"></a></li>
						<li><a href="#" class="tipsy_hover" title="googleplusone"><img src="/homepage/images/googleplusone.png" width="16" height="16" alt="googleplusone"></a></li>
				</ul>
				<ul>
						<li><a href="#signin">sign in</a></li>
						<li><a href="#register">register</a></li>
				</ul>
		</div>
		<div class="clear"></div>
</div>
<!--header_top_bg ends-->

<!--header starts-->
<div id="header">
 <h1>Lean Centipede adds legs to your idea!</h1>
</div>
<!--header ends-->

<!--content_bg starts-->
<div id="content_bg">
		<!--content starts-->
		<div id="content">

				<!--column_onethird for main highlights starts-->
				<div class="column_onehalf">
						<h3>What is a Visionary?</h3>
						<p>You are!  We are!  We have ideas that we're ready to turn into something real.  But we want to make sure our idea has legs before we invest in the next steps.  And that's where the validators come in.  For $10, you get a complete and unbiased response to your questions.  We'll tap into our database and serve your survey to only the best matches to your target customer base.  </p>
						<div class="button_1"><a href="/interviewer_sign_up" class="tipsy_hover" title="Click here to buy">Sign up to find an expert!</a></div>
						<p class="plan">or <a href="/returning_interviewer">sign in</a></p>
				</div>
				<!--column_onethird ends-->

				<!--column_twothird for video and button starts-->
				<div class="column_onehalf">
						<h3>What is a Validator?</h3>
						<p>Maybe you are, maybe you're not.  Tell us a bit more about who you are and we'll match you with Visionary projects where you're their target customer.  Surveys take between 10-20 minutes to complete, and are a max of 3 demographic questions and 5 open-ended questions.  We'll take care of the payment and deposit funds right into your paypal account!  </p>
						<div class="button_1"><a href="/interviewee_sign_up" class="tipsy_hover" title="Click here to buy">Sign up to provide feedback!</a></div>
						<p class="plan">or <a href="/returning_interviewee">sign in</a></p>
				</div>
				<!--column_twothird ends-->

				<div class="clear"></div>
		</div>
		<!--content ends-->
		<div class="clear"></div>
</div>
<!--content_bg ends-->



<!--gallery_bg starts-->
<!--<div id="gallery_bg">
		<div id="gallery">
				<h2>Xcelense screenshots</h2>
				<ul class="gallery">
						<li><a href="images/preview/large-1.jpg" rel="next" title="This is title of image 1"><img src="images/preview/thumb-1.jpg" width="160" height="110" alt="Image 1" /><span><img src="images/zoom.png" alt="Zoom Picture" title="Zoom Picture" /></span> </a></li>
						<li><a href="images/preview/large-2.jpg" rel="next" title="This is title of image 2"><img src="images/preview/thumb-2.jpg" width="160" height="110" alt="Image 2"/><span><img src="images/zoom.png" alt="Zoom Picture" title="Zoom Picture" /></span></a> </li>
						<li><a href="images/preview/large-3.jpg" rel="next" title="This is title of image 3"><img src="images/preview/thumb-3.jpg" width="160" height="110" alt="Image 2"/><span><img src="images/zoom.png" alt="Zoom Picture" title="Zoom Picture" /></span></a> </li>
						<li><a href="images/preview/large-4.jpg" rel="next" title="This is title of image 4"><img src="images/preview/thumb-4.jpg" width="160" height="110" alt="Image 2"/><span><img src="images/zoom.png" alt="Zoom Picture" title="Zoom Picture" /></span></a> </li>
						<li class="last_image"><a href="images/preview/large-5.jpg" rel="next" title="This is title of image 5"><img src="images/preview/thumb-5.jpg" width="160" height="110" alt="Image 2"/><span><img src="images/zoom.png" alt="Zoom Picture" title="Zoom Picture" /></span></a> </li>
				</ul>
				<div class="clear"></div>
		</div>
</div>-->
<!--gallery_bg ends-->

<!--sub_footer_bg starts-->
<div id="sub_footer_bg">
		<!--sub_footer starts-->
		<div id="sub_footer">

				<!--column_3 for tstimonial starts-->
				<div class="column_3">
						<h2>What our Visionaries Say</h2>
						<div id="testimonial">
								<div id="pager"></div>
								<div class="testimonial">
										<!--first testimonial-->
										<div>
												<p>"We were able to validate our Startup ideas with TRUE professionals within 24 hours of our first request!"</p>
												<span>- Jonah Jones, <br/>
												Director of marketing,company Inc.</span> </div>
										<!--second testimonial-->
										<div>
												<p>"Claritas est etiam processus dynamicus, qui sequitur mutationem con facilisis at vero eros et accumsan et iusto"</p>
												<span>- John Doe, <br/>
												Director of marketing,company Inc.</span> </div>
										<!--third testimonial-->
										<div>
												<p>"Vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto"</p>
												<span>- Jonah Jones, <br/>
												Director of marketing,company Inc.</span> </div>
								</div>
						</div>
				</div>
				<!--column_3 ends-->

				<!--column_3 for payment method starts-->
				<div class="column_3">
						<h2>Payment method</h2>
						<p>We accept the following payment methods:</p>
						<ul class="payment">
								<li><img src="/homepage/images/paypal.png" width="32" height="32" alt="paypal"></li>
						</ul>
						<div class="clear"></div>
						<p class="pay_info">Free call : 1.800.123.4567<br/>
								Mail : <a href="#">support@leancentipede.com</a></p>
				</div>
				<!--column_3 ends-->

				<!--column_3_last for contact form starts-->
				<div class="column_3_last">
						<h2>Questions? contact us</h2>
						<form  class="contact_form" id="form" method="post" action="http://yoursitename.com/php/submit-form.php">
								<fieldset>
										<p>
												<label>Name</label>
												<input name="name" />
										</p>
										<p>
												<label>Email* </label>
												<input name="email" class="required email"/>
										</p>
										<p>
												<label>Message*</label>
												<textarea id="message" name="message" class="required"></textarea>
										</p>
										<p>
												<input class="submit" type="submit" value="Send"/>
										</p>
										<div id="result"></div>
								</fieldset>
						</form>
				</div>
				<!--column_3_last ends-->

				<div class="clear"></div>
		</div>
		<!--sub_footer ends-->
</div>
<!--sub_footer_bg ends-->

<!--footer starts-->
<div id="footer">
		<p>© 2012 LeanCentipede</p>
		<ul>
				<li><a href="#" class="tipsy_hover" title="twitter"><img src="/homepage/images/twitter.png" width="16" height="16" alt="twitter"></a></li>
				<li><a href="#" class="tipsy_hover" title="facebook"><img src="/homepage/images/facebook.png" width="16" height="16" alt="facebook"></a></li>
				<li><a href="#" class="tipsy_hover" title="googleplusone"><img src="/homepage/images/googleplusone.png" width="16" height="16" alt="googleplusone"></a></li>
				<li><a href="#">Terms</a></li>
				<li><a href="#">Privacy policy</a></li>
		</ul>
		<div class="clear"></div>
</div>
<!--footer ends-->

<!--Attached jquery files here-->
<script src="/homepage/js/jquery.fancybox-1.3.4.js" type="text/javascript" ></script>
<script src="/homepage/js/jquery.cycle.all.min.js" type="text/javascript"></script>
<script src="/homepage/js/jquery.validate.js" type="text/javascript"></script>
<script src="/homepage/js/jquery.form.js" type="text/javascript"></script>
<script src="/homepage/js/jquery.tipsy.js" type="text/javascript"></script>
<script src="/homepage/js/cufon-yui.js" type="text/javascript"></script>
<script src="/homepage/js/Yanone_Kaffeesatz_Light_300.font.js" type="text/javascript"></script>
<script src="/homepage/js/custom.js" type="text/javascript"></script>
<script type="text/javascript"> Cufon.now(); </script>
</body>
</html>